@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

body {
  font-size: 16px;
  background-color: #fff;
  color: #000;
  font-family: Open Sans;
}

.load__btn {
  padding: 4px 10px;
  border-radius: 4px;
  border: none;
  background-color: #e4ce3d;
  color: #000;
  cursor: pointer;
  margin-top: 30px;
  width: 550px;
  display: flex;
  justify-content: center;
}
.loader {
  position: fixed;
  left: 263px;
  top: 176px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.spinner {
  display: none;
  width: 30px;
  height: 30px;
  border: 6px solid #c4c4c4;
  border-top: 6px solid #a7d5e6;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.spinner.show {
  display: block;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.list__products {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 2px;
}

.list__products li {
  border: none;
  width: 525px;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  list-style: none;
  background-color: #daebf3;
}

.error {
  font-size: 14px;
  color: red;
  display: none;
}

.error.open {
  display: block;
}
